body {
  height: 100vh;
  background-image: url("../images/Dog-bar.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}
.jumbotron {
  box-shadow: 4px 4px 15px 3px #03100bf7;
  background: rgba(204, 204, 204, 0.5);
  color: white;
  width: 50%;
}

/* Logo font */
#logoFont {
  font-family: "Allerta Stencil", sans-serif;
}
